:root {
  --c1: 255, 255, 255;
  --c2: 0, 0, 0;
  --c3: 150, 150, 150;
  --c4: 100, 100, 100;
  --c5: 50, 50, 50, 50;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content) 1fr min-content;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1rem;
}

body > div > * {
  justify-self: center;
}

input, button, select {
  font-family: "Quicksand", sans-serif;
}


::-moz-selection {
  color: rgb(var(--c1));
  background-color: rgb(var(--c4));
}

::selection {
  color: rgb(var(--c1));
  background-color: rgb(var(--c4));
}
